{
  "version": "2",
  "projectNumber": "680865987993",
  "projectId": "klartext-b836c",
  "appId": "1:680865987993:web:cd0a552f35a96915fd6708",
  "realtimeDatabaseInstanceUri": "",
  "realtimeDatabaseUrl": "",
  "storageBucket": "klartext-b836c.firebasestorage.app",
  "locationId": "",
  "apiKey": "AIzaSyBKkIAZy12xm06_qPCJhDLAz0BHN--6HWQ",
  "authDomain": "klartext-b836c.firebaseapp.com",
  "messagingSenderId": "680865987993",
  "measurementId": "G-W91BV8Z2SP",
  "recaptchaSiteKey": "6LdwGtAtAAAAAMXPVpQ0vXs81nFfn-CI-KeAK1qF"
}